@if(TempData["success"] != null)
{
    <div class="alert alert-success notification">
        <h2 class="text-center text-success"><b>@TempData["success"]</b></h2>
    </div>
}
@if(TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        <h2 class="text-center text-danger"><b>@TempData["error"]</b></h2>
    </div>
}
